PaginaWCF/Service References/Service_Taxa_WCF/ServiceWCFTaxa2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50872/ServiceWCFTaxa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos" />
  <xs:element name="seleccionarTaxa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="seleccionarTaxaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="seleccionarTaxaResult" nillable="true" type="q1:ArrayOftaxa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seleccionarTaxaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTaxa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seleccionarTaxaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="seleccionarTaxaPorIdResult" nillable="true" type="q2:taxa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seleccionarFotoPrincipalPorIdTaxaExamen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parametro" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seleccionarFotoPrincipalPorIdTaxaExamenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="seleccionarFotoPrincipalPorIdTaxaExamenResult" nillable="true" type="q3:taxacatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seleccionarPublicacionesSeleccionarPublicacionesPorIdTaxaExamen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parametro" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seleccionarPublicacionesSeleccionarPublicacionesPorIdTaxaExamenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="seleccionarPublicacionesSeleccionarPublicacionesPorIdTaxaExamenResult" nillable="true" type="q4:ArrayOftaxapublica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>